.footer__content {
  margin-top: 60px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 80px;
  width: 105px;
  height: 39px;
}

.footer__logo {
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
}

.footer__list {
  padding-bottom: 20px;
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 16px;
}

.footer__social-icon {
}

.footer__social-link {
  color: #c1c1c1;
  transition: color 0.3s ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 108px;
  margin-bottom: 60px;
}
