.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
  padding: 60px 102px 60px 80px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  color: white;
  gap: 16px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 108px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  margin-top: 108px;
  margin-bottom: 0;
}

.footer__logo {
  width: 116px;
  height: 39px;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  text-decoration: none;
  margin: 0;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.footer__list {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  color: #c1c1c1;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list-item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 16px;
}

.footer__list-item:last-child {
  padding-bottom: 0;
}
