.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
  padding: 60px 102px 60px 80px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
}

.footer__content {
  margin-top: 60px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 80px;
  width: 105px;
  color: white;
}
.footer__copyright {
 font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  line-height: 20px;
}

.footer__logo {
  width: 116px;
  height: 39px;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
}

.footer__list {
  padding-bottom: 20px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.footer__list-item {
   font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 16px;
}

.footer__social-icon {
}

.footer__social-link {
  color: #c1c1c1;
  transition: color 0.3s ease-in-out;
   text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

