.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  line-height: 72px;
  font-size: 60px;
  max-width: 729px;
}

.header__span-accent {
  color: #2f80ed;
  display: block;
  font-style: italic;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
}

.header__accent {
  color: #2f80ed;
}

.header__description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  font-size: 20px;
  max-width: 729px;
  margin: 20px 0 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
  font-weight: 500;
}

.header__paragraph {
 font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: ;
  font-size: ;
  line-height: ;
  color: #838388;
  margin: 0;
}
