.recipes {
  padding: 100px 80px 215px;
}

.recipes__videos {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
