.reservation {
  padding: 100px 0 120px;
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-size: cover;
  background-position: center;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 80px;
  font-size: 44px;
  text-align: center;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.reservation__form .button:hover {
  opacity: 0.7;
}

.reservation__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.reservation__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
